
.login-panel{
    border: 3px solid #f1f1f1;

    border-radius: 5px;
    position: fixed;
    right:61px;
    bottom: 55px;
    padding: 15px;
    z-index: 10;
}

.login-panel a {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}



.form {
     margin-top: 40px;
     border: 3px solid #f1f1f1;
     background-color: white;
     border-radius: 15px;

}
.align-pls{
    margin-left: 5px;
}

.email{

}
.box1{
    position: absolute;
    background-image: url("../images/loginside.jpg");
    top: 5px;
    left: 35px;
    background-color: #004d4d;
    border: 15px background-color: green;
    width:400px;
    height:500px;

    border-radius: 15px;
}


.box{
    position: absolute;
  background-color: #ffa64d;
  top: -15px;
  left: 235px;
  height: 500px;
  width: 500px;
  border: 15px background-color: #ffa64d;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.login{
    margin-bottom: 5px;
    margin-left: -5px;
    color: #334d00;
    font-size: 1.5em;
}


.Faceblog{
     position: absolute;
     top: 110px;
     left: 105px;
     font-family:Pacifico;
     color: white;
     font-size: 4em;
}

.flashes{
    position: absolute;
    top: 21px;
    left: 380px;

}

.form1{
    margin-top: 35px;
     border: 3px solid #f1f1f1;
     background-color: white;
     border-radius: 15px;
}
.register{
    margin-bottom: 5px;
    margin-left: 5px;
    color: #334d00;
    border: 20px background-color: orange;
    border-radius: 10px;
    font-size: 1.5em;
}

.submit1 {
    margin-left: 160px;
}

.submit {
    margin-left: 160px;
}

.containers{
    position: absolute;
    top: 120px;
    left: 720px;
}

.card-header {
    background-color: #ffccff;

}
.card-body{
    background-color: #ccccff;
}

.titles h1{
    text-decoration: none;
    color: hotpink;
    border-radius: 10px;
    background-color: #ffccff;
    padding: 25px;
}
.author {
    color: hotpink;
    font-family: EB Garamond;
    margin-right: 550px;
    border-radius: 10px;
    background-color: #ccccff;
    text-align: center;
    padding-left: 5px;
}
.body{
    margin-top: -8px;
    border-radius: 10px;
    background-color: #ccccff;
    padding-bottom: 50px;
    padding-left: 25px;
}

.postbox {
  position: absolute;
  background-color: #ffa64d;
  top: 93px;
  left: 520px;
  height: 500px;
  width: 500px;
  border: 15px background-color: #ffa64d;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}
.head{
 position: absolute;
 color: #006666;
 top: 25px;
 left: 295px;
}
.prof-box{
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: 130px;
  width: 100px;
  background-color: #ffccff;
  border-radius: 10px;
  padding: 250px;
  padding-bottom; 50px;
  margin: 20px;
}

.pic{
    background-image: url("../images/defaultprof.jpg");
    position: absolute;
    top: 100px;
    left: 350px;
    padding: 50px;
    border-radius: 50%;
}

.info {
    list-style: none;
    text-align: center;
    text-justify: inter-word;
    color: #006666;
    position: absolute;
    top: 250px;
    left: 330px;
}

.card-footer{
    background-color:#ffccff;
}

.modal{
    top:100px;
}

.create-post{
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    text-decoration: toggle;
    font-family: EB Garamond;
    padding:5px;
    background-color: white;
    border-radius: 18px;
}

.panels-box{
    border: 3px solid #f1f1f1;
    padding: 5px;
}


