{% extends 'index.html' %}

{% block modal %}
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">What's on your mind,
                            {{current_user.firstname}}?</h5>
                        <a type="button" class="close" href="{{ url_for('posts.posts_list') }}" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('posts.post_create') }}" method="POST">

                            {% for field in form %}
                            <div class="form-group">
                                {{ field.label() }}
                                {{ field(class="form-control") }}
                            </div>
                            {% endfor %}
                            <div class="modal-footer">
                                <button class="btn btn-primary mt-2">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!--this line pag inject mo ug JSONPath line i click lang tas mo gawas ang murag suga2-->
<!--Click ang language injection setting tas JSONPat mo gana na dayon ni-->
<script>
$(document).ready(function(){
        console.log("window is loaded")
        $("#exampleModal").modal("show")
    })

</script>
{% endblock %}